<footer style="text-align: center; padding-top: 2em;">
  <% if (page.total > 1){ %>
    <div class="pagination" >
        <%- paginator({
            prev_text: "pre",
            next_text: "nex"
        }) %>
       <li>「Powered by <a data-from="10680" href="https://webify.cloudbase.net/" target="_blank" rel="nofollow noopener noreferrer">CloudBase Webify</a>」</li>
    </div>  
    <% } %>
</footer>