        <div id="main">
            <!-- Main first s-->
            <article id="me" class="panel">
                <header style="color: #000000">
                    <h1>My life creed</h1>
                    <p> Always remember that you are absolutely unique. <br/>Just like everyone else.</p>
                </header>
                <a href="<%- theme.MainFirst.goto_ulr  %>" class="jumplink pic">
                    <span class="arrow icon fa-chevron-right"><span></span></span>
                    <img src="<%- theme.MainFirst.pic_url  %>" alt="" />
                </a>
            </article>
            <!-- Main first e-->
        </div>